<!DOCTYPE html>
<html>
<head>
  <title>Zoom Clone</title>
  <style>
    body {
      font-family: Arial;
      text-align: center;
      margin-top: 100px;
    }
    input {
      padding: 10px;
      width: 250px;
    }
    button {
      padding: 10px 15px;
      margin: 10px;
      cursor: pointer;
    }
  </style>
</head>
<body>

  <h1>Video Meeting App</h1>

  <!-- Create Room -->
  <button onclick="createRoom()">Create New Meeting</button>

  <br><br>

  <!-- Join Room -->
  <input type="text" id="roomInput" placeholder="Enter Meeting ID">
  <button onclick="joinRoom()">Join Meeting</button>

  <script>
    function createRoom(){
      const roomId = crypto.randomUUID();
      window.location.href = "/room/" + roomId;
    }

    function joinRoom(){
      const room = document.getElementById("roomInput").value;
      if(room){
        window.location.href = "/room/" + room;
      }
    }
  </script>

</body>
</html>